@keyframes like {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(120%);
  }
  100% {
    transform: scale(100%);
  }
}

.liked-btn {
  color: #1890ff !important;
  font-size: 24px !important;
}

.like-animation {
  animation: name duration timing-function delay iteration-count direction fill-mode;
}
