@keyframes alert-showup {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(100%);
  }
}

.form-container {
  max-width: 380px;
  width: 100%;
  margin: auto;
  padding: 15px;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.form-container .ant-card {
  width: 100%;
}

.ant-alert {
  margin-bottom: 8px;
  animation-name: alert-showup;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
  box-sizing: border-box;
}

.align-center {
  text-align: center;
}
